<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
{% if page.url == "/" %}
<title>{{ site.title }}</title>
{% else %}
<title>{{ site.title }} / {{ page.title }}</title>
{% endif %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9b3928">
<meta name="theme-color" content="#9b3928">
</head>
<body>
<section class="header">
<img class="profile" src="/profile.jpg">
<h1 class="title">{% if page.url == "/" %}
{{ site.title }}
{% else %}
<a href="/">{{ site.title }}</a> / {{ page.title }}
{% endif %}</h1>
</section>
<section>
{{ content }}</section>
</body>
</html>
