<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
{% if page.url == "/" %}
<title>{{ site.title }}</title>
{% else %}
<title>{{ site.title }} / {{ page.title }}</title>
{% endif %}
</head>
<body>
<section class="header">
<img class="profile" src="/profile.jpg">
<h1 class="title">{% if page.url == "/" %}
{{ site.title }}
{% else %}
<a href="/">{{ site.title }}</a> / {{ page.title }}
{% endif %}</h1>
</section>
<section>
{{ content }}</section>
</body>
</html>
